<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poptok.android.poptok">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".controller.post.PostMapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".controller.user.ChangePasswordActivity"></activity>
        <activity android:name=".controller.user.LoginActivity_"></activity>
        <activity android:name=".controller.user.SettingMenuActivity"></activity>
        <activity android:name=".controller.user.JoinActivity"></activity>
        <activity android:name=".controller.user.ChangeNickNameActivity"></activity>
        <activity android:name=".controller.user.FindPasswordActivity"></activity>
        <activity android:name=".controller.post.PostListActivity_"></activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="f1ce1afe4bd1995ca9fe8c5957fcd78b"/>

    </application>
</manifest>
